<div class="container">
  <div class="float-right">
    <% if user_signed_in? %>
      <%= link_to 'New Image', new_album_image_path %>|
      <%= link_to 'Albums', albums_path %>
    <%end%>  
  </div> 
  <h1>Images</h1>
  <table>
    <% @images.each_slice(4) do |images| %>
      <tr>
        <% images.each do |image| %>
          <td>
            <div class="container_image">
              <img src=<%=image.photo.url%> alt="Avatar" class="image rounded">
              <div class="overlay">
                <div class="tag-line"> <%= link_to "Show", album_image_path(image.album_id,image.id), class: "btn btn-outline-dark"%>
                </div>
              </div>
            </div>
            <div align = center>
            <div><%="Tag Line:"%><%= image.tag_line %></div>
            <div><%="Image owner:"%> <%= image.album.owner %></div>  
            <div><%="Created date:"%>  <%= image.created_at.strftime("%B %d, %Y") %></div>
            <div>
              <% if user_signed_in? %>  
                <%= link_to 'Edit', edit_album_image_path(image.album_id,image.id), class: "btn btn-outline-primary" %>
              <%end%>  
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br>
</div> 
